.bannerContainer {
  margin: 5% auto;
  width: 100%;
  height: 100%;
  display: flex; 
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.banner {
  border: 1px solid orange; 
  height: 250px; 
  width: 300px;
  overflow: hidden;
}

.target {
  position: relative; 
  right: 15%;
  bottom: 15%;
}

.productResolve {
  transform: scale(0.2);
  position: relative; 
  right: 150px;
  bottom: 2070px;
  opacity: 0;
}

.f4Copy {
  opacity: 0;
  width: 100%;
  height: auto;
  position: relative; 
  bottom: 330%;
  left: 0;
}

.f5Copy1 {
  opacity: 0;
  position: relative; 
  bottom: 430%;
  left: 20%;
  width: 100%;
  height: auto; 
}

.f5Copy2 {
  opacity: 0;
  position: relative; 
  bottom: 531.5%;
  left: 1%;
  width: 100%;
  height: auto; 
}


.linkSlug {
  opacity: 0;
  position: relative; 
  bottom: 615%;
  left: 1%;
  width: 80%;
  height: auto; 
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
